<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Globe consent</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <% include ./_partials/header %>
    <main>
      <div class="login-form-container container">
        <div class="alert alert-danger" role="alert">
          Oh! Your App is blacklisted. It needs to be un-blacklisted to use
          further.
        </div>
      </div>
      <% include ./_partials/footer-menu %>
    </main>
  </body>
</html>
