<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scopes </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/consent.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="header-wrap container">
            <div class="logo">
                <img src="../images/logo.png" alt="Globe">
            </div>
            <div class="user-details">
                <div class="notification">
                    <span class="bell-icon">
                        <img src="../images/bell-regular.svg" alt="">
                    </span>
                    <span class="notification-count">10</span>
                </div>
                <div class="welcome">
                    <span>Welcome</span>
                    <span>John Smith</span>
                </div>
                <div class="profile-image">
                    <img src="../images/profile.png" alt="profile picture">
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="login-form-container container modal-box-wrapper">
            <div class="modal-box">
                <div class="modal-box-header">
                    <h3>You've already provided consent for this Application</h3>
                </div>
                <div class="modal-box-body">
                  
                </div>
                <div class="modal-actions">
                    <button type="button" class="btn btn-default" id="skip_consent">Proceed</button>
                </div>
                <div id="getResultDiv">
                    <ul class="list-group">
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-menu">
            <ul>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Help Centre</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </main>
</body>

</html>
