<div class="container d-flex flex-row justify-content-center align-items-center">
  <mat-card class="col-md-6 col-lg-6 col-sm-6 text-center">
    <img mat-card-image class="img-fluid" src="assets/images/logo.png" alt="Card image cap">
    <mat-card-content>
      <h4>Signup</h4>
      <div>
        <form autocomplete="off">
          <mat-form-field class="w-100">
            <input matInput placeholder="Full Name">
          </mat-form-field>
          <mat-form-field class="w-100">
            <span matPrefix>+639 &nbsp;</span>
            <input type="tel" matInput placeholder="Telephone">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput placeholder="Email" autocomplete="off">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput placeholder="Password" type="password">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput placeholder="Confirm Password" type="text">
          </mat-form-field>
        </form>
      </div>
      <button mat-raised-button color="primary">signup</button>
    </mat-card-content>
  </mat-card>
</div>
