*.DS_Store
*node_modules/
*package-lock.json
*.tar.gz
src/micro-services/auth-service/yarn.lock
src/micro-services/consent-service/yarn.lock
# IDE - VSCode
*.vscode/*
*!.vscode/settings.json
*!.vscode/tasks.json
*!.vscode/launch.json
*!.vscode/extensions.json

src/micro-services/auth-service/postgres-data
src/micro-services/consent-service/postgres-data

src/micro-services/auth-service/.env
src/micro-services/consent-service/.env

src/webapps/**/.env
src/webapps/consent_app/.env

src/micro-services/consent-service/.nyc_output
src/micro-services/consent-service/coverage