<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step>
    <form [formGroup]="changePasswordForm">
      <ng-template matStepLabel>Please enter your old password new password</ng-template>
      <div>
        <mat-form-field>
          <input matInput placeholder="Old password" formControlName="old_password" required>
        </mat-form-field>
      </div>
      <div class="mt-2">
        <mat-form-field>
          <input matInput placeholder="New password" formControlName="new_password" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext (click)="initiatePasswordChange()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="changePasswordForm">
      <ng-template matStepLabel>Verify OTP</ng-template>
      <mat-form-field>
        <input matInput placeholder="OTP" formControlName="otp" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button *ngIf="!otpVerified" (click)="changePassword()">Verify</button>
        <button mat-button matStepperNext *ngIf="otpVerified" color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Your Password has been Changed Successfully
    <div>
      <button mat-button (click)="done()">Done</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
