<!doctype html>
<html lang="en" class="h-100">
<style>
    .lds-roller {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
    }

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 32px 32px;
    }

    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #7f8c8d;
        margin: -3px 0 0 -3px;
    }

    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }

    .lds-roller div:nth-child(1):after {
        top: 50px;
        left: 50px;
    }

    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }

    .lds-roller div:nth-child(2):after {
        top: 54px;
        left: 45px;
    }

    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }

    .lds-roller div:nth-child(3):after {
        top: 57px;
        left: 39px;
    }

    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }

    .lds-roller div:nth-child(4):after {
        top: 58px;
        left: 32px;
    }

    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }

    .lds-roller div:nth-child(5):after {
        top: 57px;
        left: 25px;
    }

    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }

    .lds-roller div:nth-child(6):after {
        top: 54px;
        left: 19px;
    }

    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }

    .lds-roller div:nth-child(7):after {
        top: 50px;
        left: 14px;
    }

    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }

    .lds-roller div:nth-child(8):after {
        top: 45px;
        left: 10px;
    }

    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>IAM Suite Demo</title>
</head>

<body class="h-100">
    <div class="container h-100 d-flex justify-content-center align-items-center text-center ">
        <div id="section-one" class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h3 class="card-title">IAM Suite Demo</h3>
                <img class="card-img-top w-50 mb-5" src="assets/images/logo.png">
                <h4 class="card-text mb-5">To Continue using this app , please login</h4>
                <!-- <div class="form-group text-center">
                    <input type="text" class="form-control text-center clientdata mb-3" id="clientId" placeholder="Enter Client Id">
                    <input type="text" class="form-control text-center clientdata mb-3" id="clientSecret" placeholder="Enter Secret">
                    <input type="text" class="form-control text-center mb-3" id="redirectUrl" placeholder="Redirect Url">
                </div> -->
                <button id="loginButton" onclick="login()" class="btn btn-primary btn-lg">
                    Login with Globe
                </button>
                <br>
                <div class="lds-roller d-none">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>

        <div id="section-two" class="card shadow-lg p-3 mb-5 bg-white rounded d-none">
            <div class="card-body">
                <h3 class="card-text mb-5">Code</h3>
                <pre id="code"></pre>
                <h3 class="card-text mb-5 d-none" id="accessToken">Access Token</h3>
                <pre id="generatedToken" class="text-left"></pre>
                <button id="generateAccessToken" class="btn btn-success btn-lg">Generate Access Token</button>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>
        let code;
        let clientId = "wFE8AN4nN8a6GPety5jjdJzqjUwSH8PH";
        let clientSecret = "pfLe5Y7WvJQsGcqv";
        let redirectUrl = "http://13.232.77.36:4000"
        // let redirectUrl = $('#redirectUrl');
        // redirectUrl.val("http://13.232.77.36:4000");
        // $('#loginButton').prop('disabled', true);
        // $(".clientdata").on("change paste keyup", function () {
        //     clientId = $('#clientId').val();
        //     clientSecret = $('#clientSecret').val();
        //     if (clientId.length != 0 && clientSecret.length != 0) {
        //         $('#loginButton').prop('disabled', false);
        //     }
        //     if (clientId.length == 0 || clientSecret.length == 0) {
        //         $('#loginButton').prop('disabled', true);
        //     };
        // });

        function login() {
            $('#loginButton').addClass('d-none');
            $('.lds-roller').removeClass('d-none');
            window.open(
                `https://globeslingshot-dev-labs.apigee.net/oauth/v2/authorize?client_id=${clientId}&response_type=code&redirect_uri=${redirectUrl}`,
                'popUpWindow',
                'height=600,width=600,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes'
            );
        }

        function generateCode(result) {
            console.log(result);
            result = result.split('=');
            code = result[result.length - 1];
            $('#section-one').addClass('d-none');
            $('#section-two').removeClass('d-none');
            $('#code').append(code);
            $('#loginButton').removeClass('d-none');
            $('.lds-roller').addClass('d-none');
        }

        $('#generateAccessToken').click(() => {
            var string = `${clientId}:${clientSecret}`
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://globeslingshot-dev-labs.apigee.net/oauth/v2/token/generate",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "Authorization": `Basic ${btoa(string)}`
                },
                "data": {
                    "code": code,
                    "grant_type": "authorization_code",
                    "redirect_uri": `${redirectUrl}`
                }
            }

            $.ajax(settings).done(function (response) {
                $('#generatedToken').append(JSON.stringify(response, null, 2));
                $('#accessToken').removeClass('d-none');
                $('#generateAccessToken').addClass('d-none');
            });
        })

        if (window.location.search.indexOf('code') > -1) {
            try {
                window.opener.generateCode(window.location.search);
            } catch (err) {}
            window.close();
        }
    </script>
</body>

</html>