<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step>
    <form [formGroup]="authForm">
      <ng-template matStepLabel>Please enter your password</ng-template>
      <mat-form-field>
        <input matInput placeholder="password" formControlName="password" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="toggleOtp()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="twoFactorForm">
      <ng-template matStepLabel>Verify OTP</ng-template>
      <mat-form-field>
        <input matInput placeholder="OTP" formControlName="otp" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button *ngIf="!otpVerified" (click)="verifyOtp()">Verify</button>
        <button mat-button matStepperNext *ngIf="otpVerified" color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Two Factor Auth has successfully been toggled
    <div>
      <button mat-button (click)="done()">Done</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
