@import "var";

* {
    box-sizing: border-box;
}

header {
    background: $header-bg;
}

.logo img {
    height: 40px;
    width: auto;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4em 1em;
}

.user-details {
    display: flex;
    align-items: center;
    > div {
        &:not(:last-child) {
            margin-right: 2em;
            @media  only screen and (max-width: 500px) {
                margin-right: 1em;
            }
        }
    }
    .notification {
        position: relative;
        .notification-count {
            background: $links;
            color: $white;
            position: absolute;
            right: -40%;
            top: -16%;
            border-radius: 100%;
            font-size: 10px;
            padding: 3px;
        }
    }
    .profile-image {
        img {
            height: 40px;
            width: auto;
        }
    }
    .welcome {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .bell-icon {
        img {
            height: 25px;
            width: auto;
        }
    }
}
