$header-bg: #ededed;
$signIn_header: #e0e0e0;
$white: #fff;
$black: #000;
$form_labels: #151515;
$grey: #999999;
$links: #00afec;
$red: #f53d34;

$roboto-regular: 'Roboto-Regular';
$roboto-medium: 'Roboto-Medium';
$roboto-light: 'Roboto-Light';
$roboto-bold: 'Roboto-Bold';
