<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="resetPasswordForm">
      <ng-template matStepLabel>Fill your email and mobile number</ng-template>
      <div class="d-flex flex-column">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mobile" formControlName="msisdn" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext (click)="initiateResetPassword()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="resetPasswordForm">
      <ng-template matStepLabel>Enter your OTP and new password</ng-template>
      <div class="d-flex flex-column">
        <mat-form-field>
          <input matInput placeholder="OTP" formControlName="otp" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="New Password" formControlName="new_password" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button (click)="resetPassword()" *ngIf="!otpVerified">Verify and Submit</button>
        <button mat-button matStepperNext class="btn btn-primary" *ngIf="otpVerified">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Your Password has been successfully Reset.
    <div>
      <button mat-button class="btn btn-success" routerLink="/login">Done</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
